# --- Python Bytecode ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Distribution & Build ---
build/
dist/
*.egg-info/

# --- Virtual Environments ---
venv/
.venv/
env/

# --- Secrets & Environment ---
.env
.env.*

# --- Logs & Performance ---
*.log

# --- IDE & OS ---
.vscode/
.idea/
Thumbs.db
desktop.ini